<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>

        <servlet-name>CheckboxServlet</servlet-name>

        <servlet-class>com.example.new2.CheckboxServlet</servlet-class>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    </servlet>

    <servlet-mapping>

        <servlet-name>CheckboxServlet</servlet-name>

        <url-pattern>/CheckboxServlet</url-pattern>

    </servlet-mapping>
</web-app>